In [ ]:
print("hello world")

In [ ]:
a = 10
b = 20
c = a + b
print(c)

In [ ]:
my_var = 3.0
print(type(my_var))

In [ ]:

# this is avoid the rules of the variable declaration
# my@var = 33
# print(my@var) XXX

# my22 = 44
# print(my22)  this is correct

#myVar = 10 --> this is violating the standards in python
#my_var = 10 --> this is correct..

In [ ]:
#constraint
MAXIMIM_ATTEMPS = 100

In [ ]:
complex_num = 3 + 3j
print(type(complex_num))

In [ ]:
my_num = 345e8
print(my_num)

In [ ]:
# casting...
a = 10 
b = float(a)
print(b , type(b))

c = 7.3
d = int(c)
print(d, type(d))

In [ ]:
my_list = [8,2,5,8,3,0,5,7]
print(my_list, type(my_list), my_list[2])

In [ ]:
x = 10
print(id(x))

x = 11
print(id(x))

In [ ]:
my_list = [1,2,3,4,5,6,7,8,9]
print(id(my_list))

my_list[2] = 10
print(my_list)
print(id(my_list))

In [ ]:
list = [1,2,3,4,5]
list[2] = 4
print(list)

In [ ]:
#--------------------------getItems-------------------------------------------
collection = ["sasuni" , 21, "piliyandala" , True,"GDSE71" , "se"]
print(collection)
print(len(collection))

print(collection[2:5])
print(collection[2:])
print(collection[:5])
print(collection[-4])

In [ ]:
#-----------------------task-----------------
new_list = [10,8,9,15,20,18,26] # 90/60/80
new_list[2:5] = [90,60,80]
print(new_list)

In [ ]:
#--------------------inserting--------------------------------
list1 = [1,2,3,4,5,6,7,8,9]

list1.insert(4,22)
print(list1)

list1.append(33)
print(list1)

In [ ]:
#-------------remove--------------------------
list2 =[1,2,3,4,5,6,7,8,6,9]

list2.remove(6)
print(list2)

In [ ]:
#------------------------pop-----------------------------
list3 = [1,2,3,4,56,7]
my_var1 = list3.pop(3)
print(my_var1)

del list3[1]
print(list3)
del list3
#print(list3)

In [ ]:
#--------------------clear----------------------------
list4 = [1,2,4,5,6]
list4.clear()
print(list4)

In [ ]:
#-----------sort------------------------------
list5 =["fish","rabbit","dog","cat","mouse"]
list5.sort()
list5.sort(reverse=True)
print(list5)

In [ ]:
#--------reverse sorting----------------------------------
list6 =["sasuni","nishini","dog","cat"]
list6.reverse()
print(list6)

In [ ]:
#---------------------copying-----------------------------
my_list_1 = ["dog", "cat","rabbit"]

my_list = my_list_1.copy()
my_list[2] = "mouse"
print(my_list_1)
print(my_list)

In [ ]:
#------------------------------joining--------------------------------------
list1 = [1,2,3]
list2 = [4,5,6]
list = list1 + list2
print(list)

In [ ]:
#-----------------extending-------------------------
list1 =[1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]