In [ ]:
import pandas as pd

In [ ]:
import pandas as pd

data = {
    "Name" : ["Ann" , "John" , "David" , "Serina"],
    "Age" : [21,23,56,23]
}

df = pd.DataFrame(data)
print(df)
print(type(df))

In [ ]:
import pandas as pd

data = {
    "Name" : ["Ann" , "John" , "David" , "Serina"],
    "Age" : [21,23,56,23]
}

df = pd.DataFrame(data)
print(df.loc[2])
print(df.loc[2,'Age'])

print(df.iloc[2])
print(df.iloc[2,0])

In [ ]:
import pandas as pd;

data = {
    "Calories" : [340,670,450],
    "duration" : [20,40,50]
}

df = pd.DataFrame(data, index = ['day_1' ,'day_2','day_3'])
print(df.loc['day_2'])
print("===========================")
print(df.loc[['day_1' , 'day_3']])
print("===========================")
print(df['Calories'])

In [ ]:
import pandas as pd;

data = {
    "Calories" : [340,670,450],
    "duration" : [20,40,50]
}

df = pd.DataFrame(data, index = ['day_1' ,'day_2','day_3'])
print(df.shape)
print(df.size)
print(df.values)
print(type(df.values))

In [ ]:
import pandas as pd;

data = {
    'Age' : [25,30,35,40,60],
    'Salary' : [50000,60000,70000,80000,90000]
}

df = pd.DataFrame(data)

print(df.shape[0])
print(len(df))

In [ ]:
import pandas as pd;

data = {
    'Age' : [25,30,35,40,60],
    'Salary' : [50000,60000,70000,80000,90000]
}

df = pd.DataFrame(data)
print(df.iloc[-1])

In [ ]:
import pandas as pd;

data = {
    'Age' : [25,30,35,40,60],
    'Salary' : [50000,60000,70000,80000,90000],
    'Distance' : [10,20,30,40,44]
}

df = pd.DataFrame(data)
print(df.columns)
print(list(df.columns))
df['Distance'] = [20,30,44,56,60]
df.loc[len(df)] = [21, 40000, 25]
print(df)

In [ ]:
import pandas as pd;

data = {
    'Age' : [25,30,35,40,60],
    'Salary' : [50000,60000,70000,80000,90000],
    'Distance' : [10,20,30,40,44]
}

df = pd.DataFrame(data)
print(df.sum())
print("------------------------")
print(df.mean())
print("------------------------")
print(df.describe())

In [ ]:
import pandas as pd;

data = {
    'Age' : [25,30,35,40,60],
    'Salary' : [50000,60000,70000,80000,90000],
    'Distance' : [10,20,30,40,44]
}

df = pd.DataFrame(data)
print(df[(df['Age'] > 28) & (df['Salary'] > 75000)])

In [ ]:
import pandas as pd;

df = pd.DataFrame({
    "Product" : ["Laptop" , "Mouse" , "Keyboard" , "Monitor" , "Headset"],
    "UnitsSold" : [12,50,34,20,40],
    "Price" : [120000,1500,3500,25000,6000],
    "Discount" : [0.10,0.05,0.08,0.12,0.07]
})

df['FinalPrice'] = df['Price'] * (1 - df['Discount'])

df['TotalRevenue'] = df['UnitsSold'] * df["FinalPrice"]
print(df)

print("------------------------------------------------------------------------")

result = df[df["TotalRevenue"] > 500000]
print(result)

print("-------------------------------------------------------------------------")

all_total_revenue = df["TotalRevenue"].sum()
print(all_total_revenue)

In [ ]:
df = pd.DataFrame({
    "Product" : ["Laptop" , "Mouse" , "Keyboard" , "Monitor" , "Headset"],
    "UnitsSold" : [12,50,34,20,40],
    "Price" : [120000,1500,3500,25000,6000],
    "Discount" : [0.10,0.05,0.08,0.12,0.07]
})

new_df = df.drop('Discount', axis=1)
print(new_df)

print("-------------------------------------------------------------------------")

new_df = df.drop(3 , axis=0)
print(new_df)

In [ ]:
import pandas as pd;

df = pd.read_csv('person_data.csv')
print(df)

In [ ]:
import pandas as pd;

df = pd.read_json('new_student.json')
print(df)